/* styles.module.css */

.movieDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.poster {
  width: 200px;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttonContainer {
  margin-top: 20px;
}

.buttonContainer button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.castContainer {
  margin-top: 20px;
}

.reviewsContainer {
  margin-top: 20px;
}

.castContainer h2,
.reviewsContainer h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.castContainer ul,
.reviewsContainer ul {
  list-style-type: none;
  padding: 0;
}

.castContainer li,
.reviewsContainer li {
  margin-bottom: 10px;
}

.castContainer li .actorName,
.reviewsContainer li .reviewAuthor {
  font-weight: bold;
}

.castContainer li .characterName {
  font-style: italic;
}

.reviewsContainer li .reviewContent {
  margin-top: 5px;
}
