/* App.module.css */

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #ff4500;
}
.active {
  font-weight: bold;
  color: red;
}
